*{
  background-color: blue;;
  background-image: url(https://wallpapersite.com/images/wallpapers/blue-background-3840x2400-stars-luminous-4k-916.jpg);
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: maroon;
}
/* .p{
    color: antiquewhite;
} */
